#!/bin/bash

s() {
  if HOST=$(cat ~/.ssh/config | rg "Host "| sed -e "s/Host //g" | fzf); then
    ssh $HOST
  fi
}

kctx(){
  if CONTEXT=$(kubectl config get-contexts -o=name | fzf); then
    kubectl config use-context $CONTEXT
  fi
}

envs() {
  local selected_env
  selected_env=$(pyenv virtualenvs | awk '{print $1}' | fzf)
  if [ -n "$selected_env"  ]; then
    pyenv activate $selected_env
  fi
}

reload() {
  source $HOME/.zshrc
}
